on:
  workflow_call:
    inputs:
      SERVICE_NAME:
        required: true
        type: string
    secrets:
      TOKEN:
        required: true


env:
  BUILD_SHA: ${{ github.sha }}
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  SERVICE_NAME: ${{inputs.SERVICE_NAME}}
  PACKAGE_NAME: "com.lineup.${{inputs.SERVICE_NAME}}"
  PACKAGE_TYPE: "maven"
  ORG: "Nilo-Innovation"

jobs:
  obtener-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Obtener la versi칩n m치s reciente del paquete
        run: |
          RESPONSE=$(curl -L \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.TOKEN }}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                "https://api.github.com/orgs/${{ env.ORG }}/packages/${{ env.PACKAGE_TYPE }}/${{ env.PACKAGE_NAME }}/versions")  
          echo "$RESPONSE" | jq .

      - name: Usar la versi칩n del paquete
        run: |
          echo "Usando la versi칩n del paquete: $PACKAGE_VERSION"